accelerate==0.19.0
cog==0.14.3
decord==0.6.0
diffusers==0.16.0
einops==0.8.1
fsspec==2022.2.0
ftfy==6.3.1
horovod==0.28.1
huggingface_hub==0.29.3
imageio==2.9.0
imageio==2.31.1
mmcv==2.2.0
natsort==8.4.0
nltk==3.7
numpy==1.21.5
omegaconf==2.3.0
packaging==21.3
Pillow==9.0.1
Pillow==11.1.0
regex==2022.3.15
regex==2024.11.6
rotary_embedding_torch==0.3.6
safetensors==0.5.3
setuptools==61.2.0
setuptools==58.1.0
timm==0.6.13
torch==2.0.1+cu118
torch_xla==2.6.0
torchvision==0.15.2+cu118
tqdm==4.64.0
tqdm==4.65.0
transformers==4.28.1
xformers==0.0.20
